body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
}

.links-list ul li a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: darkmagenta;
}

a:active {
    color: fuchsia;
}

.header {
    margin-left: 1.75em;
}

.description {
    margin-left: 2em;
}

.content-list-item {
    border-style: groove;
    border-radius: 6px;
    border-color: lightgray;
    padding: 0.75em;
    margin-left: 2em;
    margin-right: 5em;
}

#about-me {
    margin-left: 2em;
    margin-right: 2em;
}